body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;
  color: white;
}

section {
  padding: 80px;
  text-align: center;
}

.btn {
  padding: 10px 20px;
  background: #2563eb;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: 0.3s;
}

.btn:hover {
  background: #1d4ed8;
}
